.button {
  // Primary button
  @include button-base($primary-color, #232323);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  // Secondary button variant
  &--secondary {
    @include button-base(#a9a9a9, white);

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }
}
