.button {
  @include button-base;
  background-color: $primary-color;
  color: #232323;
  font-weight: bold;

  &:hover {
    // old: background-color: darken($primary-color, 10%);
    background-color: color.scale($primary-color, $lightness: -10%);
  }

  // Example of a secondary variant
  &Secondary {
    @extend .button;
    background-color: #a9a9a9;
    color: white;

    &:hover {
      // old: background-color: darken(#a9a9a9, 10%);
      background-color: color.scale(#a9a9a9, $lightness: -10%);
    }
  }
}
