@use 'sass:color';
@mixin button-base($bg: null, $text: #232323, $hover-lightness: -10%) {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: if($bg != null, $bg, transparent);
  color: $text;

  @include smooth-button-transition;

  &:hover {
    background-color: color.scale($bg, $lightness: $hover-lightness);
  }
}

// FLEX
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// TRANSITIONS
@mixin smooth-card-transition {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

@mixin smooth-button-transition {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;
}

// HOVER ELEVATION
@mixin hover-elevate($y: -6px, $shadow-alpha: 0.12) {
  &:hover {
    transform: translateY($y);
    box-shadow: 0 10px 25px rgba(0, 0, 0, $shadow-alpha);
  }
}

// ANIMATIONS
@mixin fade-in-up($duration: 0.8s) {
  animation: fadeInUp $duration ease forwards;
}
